/* Spicetify default CSS rules */
:root {
  --player-bar-height: 105px;
}

.main-rootlist-rootlistDividerGradient {
  background: unset;
}

input {
  background-color: unset !important;
  border-bottom: solid 1px var(--spice-text) !important;
  border-radius: 0 !important;
  padding: 6px 10px 6px 48px;
  color: var(--spice-text) !important;
}

.x-searchInput-searchInputSearchIcon,
.x-searchInput-searchInputClearButton {
  color: var(--spice-text) !important;
}

.main-home-homeHeader,
.x-entityHeader-overlay,
.x-actionBarBackground-background,
.main-actionBarBackground-background,
.main-entityHeader-overlay,
.main-entityHeader-backgroundColor {
  background-color: unset !important;
  background-image: unset !important;
}

.main-playButton-PlayButton.main-playButton-primary {
  color: white;
}

.connect-title,
.connect-header {
  display: none;
}

.connect-device-list {
  margin: 0px -5px;
}

/* Remove Topbar background colour */
.main-topBar-background {
  background-color: unset !important;
}

.main-topBar-overlay {
  background-color: var(--spice-main);
}

.main-entityHeader-shadow,
.connect-device-list-container {
  box-shadow: 0 4px 20px rgba(var(--spice-rgb-shadow), 0.2);
}

.main-trackList-playingIcon {
  filter: grayscale(1);
}

.main-trackList-trackListRow.main-trackList-active:hover
  .main-trackList-rowMarker,
.main-trackList-trackListRow.main-trackList-active:hover
  .main-trackList-rowTitle,
.main-trackList-trackListRow.main-trackList-active:focus-within
  .main-trackList-rowMarker,
.main-trackList-trackListRow.main-trackList-active:focus-within
  .main-trackList-rowTitle {
  color: var(--spice-button);
}

.main-entityHeader-metaDataText,
.main-duration-container,
.main-entityHeader-metaData .main-entityHeader-divider > * {
  color: var(--spice-text);
}

span.artist-artistVerifiedBadge-badge svg:nth-child(1) {
  fill: black;
}

/* Full window artist background */
.main-entityHeader-background.main-entityHeader-gradient {
  opacity: 0.3;
}

.main-entityHeader-container.main-entityHeader-withBackgroundImage,
.main-entityHeader-background,
.main-entityHeader-background.main-entityHeader-overlay:after {
  height: 100vh;
}

.main-entityHeader-withBackgroundImage .main-entityHeader-headerText {
  justify-content: center;
}

.main-entityHeader-container.main-entityHeader-nonWrapped.main-entityHeader-withBackgroundImage {
  padding-left: 9%;
}

.main-entityHeader-background.main-entityHeader-overlay:after {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(var(--spice-main), var(--spice-main));
}

.artist-artistOverview-overview .main-entityHeader-withBackgroundImage h1 {
  font-size: 175px !important;
  line-height: 175px !important;
}

/* Full window description text */
.main-entityHeader-headerText
  .main-entityHeader-subtitle.main-entityHeader-gray {
  color: var(--spice-subtext);
}

/* Removed background gradient from above homepage */
.os-content div:nth-child(2) main div {
  background-color: transparent !important;
  background-image: var(--spice-main);
}

/** Hightlight selected playlist */
.main-rootlist-rootlistItemLink.main-rootlist-rootlistItemLinkActive {
  background: var(--spice-button);
  border-radius: 4px;
  padding: 0 10px;
  margin: 0 5px 0 -10px;
}

.main-navBar-navBarLinkActive {
  background: var(--spice-button);
}

div.GlueDropTarget.personal-library > *.active {
  background: var(--spice-button) !important;
}

.main-contextMenu-menu {
  background-color: var(--spice-button-active);
}

.main-contextMenu-menuHeading,
.main-contextMenu-menuItemButton,
.main-contextMenu-menuItemButton:not(.main-contextMenu-disabled):focus,
.main-contextMenu-menuItemButton:not(.main-contextMenu-disabled):hover {
  color: var(--spice-text);
}

.main-playPauseButton-button {
  background-color: var(--spice-button);
  color: white;
}

/** Queue page header */
.queue-queue-title,
.queue-playHistory-title {
  color: var(--spice-text) !important;
}

/** Cards */
.main-cardImage-imageWrapper {
  background-color: transparent;
}

/** Sidebar */
.main-rootlist-rootlistDivider {
  margin-bottom: 8px;
}

.main-rootlist-rootlistPlaylistsScrollNode {
  padding: 0;
}

#spicetify-playlist-list {
  padding-top: 8px;
}

.main-collectionLinkButton-collectionLinkButton .main-collectionLinkButton-icon,
.main-collectionLinkButton-collectionLinkButton
  .main-collectionLinkButton-collectionLinkText {
  opacity: 1;
}

.link-subtle {
  color: var(--spice-text);
}

.main-navBar-navBar div:nth-child(2) div:nth-child(2) {
  background: linear-gradient(
    180deg,
    rgba(var(--spice-main), 0.7),
    transparent
  );
}

/** Player bar */
.main-nowPlayingBar-nowPlayingBar {
  height: var(--player-bar-height);
}

/** Buddy bar */
.main-buddyFeed-activityMetadata .main-buddyFeed-artistAndTrackName a,
.main-buddyFeed-activityMetadata .main-buddyFeed-username a,
.main-buddyFeed-activityMetadata .main-buddyFeed-playbackContextLink {
  color: var(--spice-text);
}

/* Koushi Theme */
/* Grid lines */
#main {
  border: 3px solid var(--spice-grid-lines);
}

.main-buddyFeed-buddyFeedRoot {
  border-left: 3px solid var(--spice-grid-lines);
}

.Root__nav-bar {
  border-right: 3px solid var(--spice-grid-lines);
}

.main-nowPlayingBar-container {
  border-top: 3px solid var(--spice-grid-lines);
}

.main-coverSlotExpanded-container {
  border-top: 3px solid var(--spice-grid-lines);
}

.main-nowPlayingWidget-nowPlaying.main-nowPlayingWidget-coverExpanded
  > .main-coverSlotCollapsed-container {
  visibility: hidden;
}

.connect-device-list-container.connect-device-list-container--is-visible {
  border: 3px solid var(--spice-grid-lines);
  box-shadow: unset;
}

.main-contextMenu-menu {
  border: 3px solid var(--spice-grid-lines);
  box-shadow: unset;
}

.GenericModal {
  border: 3px solid var(--spice-grid-lines);
}

.main-rootlist-rootlistDividerContainer hr {
  background-color: transparent;
}

/* Tweaks & Fixes */
.main-trackList-trackListRow:focus-within,
.main-trackList-trackListRow:hover {
  background-color: var(--spice-selected-row);
}

.main-trackList-trackListRow:hover .main-trackList-rowMarker,
.main-trackList-trackListRow:hover .main-trackList-rowTitle,
.main-trackList-trackListRow:focus-within .main-trackList-rowMarker,
.main-trackList-trackListRow:focus-within .main-trackList-rowTitle {
  color: var(--spice-text) !important;
}

.main-contextMenu-menu {
  background-color: var(--spice-main);
}

.main-contextMenu-menu .main-contextMenu-menuItem:focus-within,
.main-contextMenu-menu .main-contextMenu-menuItem:hover {
  background-color: var(--spice-selected-row);
}

.main-gridContainer-gridContainer .view-homeShortcutsGrid-shortcut {
  background-color: rgba(var(--spice-card), 0.1);
}

.main-gridContainer-gridContainer .view-homeShortcutsGrid-shortcut:focus-within,
.main-gridContainer-gridContainer .view-homeShortcutsGrid-shortcut:hover {
  background-color: var(--spice-card);
}

.playlist-playlist-searchBoxContainer > *,
.collection-searchBar-searchBar > *,
.x-filterBox-filterInputContainer > *,
.x-filterBox-overlay > * {
  color: var(--spice-text);
}

/* fixes download button on podcast episode for light theme */
button {
  color: var(--spice-subtext) !important;
}

.main-playButton-PlayButton,
.main-playPauseButton-button {
  background-color: var(--spice-button) !important;
  color: white !important;
}

input::placeholder {
  color: var(--spice-text) !important;
}

/* Fixes podcast dates for light theme */
.main-type-mesto {
  color: var(--spice-subtext);
}

/* Remove podcasts overlay */
[data-testid="header"],
[data-testid="action-bar-container"]
  [data-testid="action-background-container"],
[data-testid="episode"] [data-testid="container"],
[data-testid="episode"]
  [data-testid="action-bar-container"]
  [data-testid="action-background-container"] {
  background-color: unset !important;
  background-image: unset !important;
}

/* Match System Appearence */
/* Remove this to set the color scheme manually */
@media (prefers-color-scheme: light) {
  :root {
    --spice-misc: #aaaaaa;
    --spice-card: #dddddd;
    --spice-subtext: #5d5d5d;
    --spice-main: #f8f8f8;
    --spice-sidebar: #f8f8f8;
    --spice-selected-row: #dddddd;
    --spice-button-disabled: #dddddd;
    --spice-grid-lines: #000000;
    --spice-notification: #dddddd;
    --spice-shadow: #aaaaaa;
    --spice-notification-error: #e22134;
    --spice-player: #f8f8f8;
    --spice-button-active: #5d5d5d;
    --spice-button: #00bf76;
    --spice-tab-active: #00bf76;
    --spice-text: #000000;
    --spice-rgb-misc: 170, 170, 170;
    --spice-rgb-card: 221, 221, 221;
    --spice-rgb-subtext: 93, 93, 93;
    --spice-rgb-main: 248, 248, 248;
    --spice-rgb-sidebar: 248, 248, 248;
    --spice-rgb-selected-row: 221, 221, 221;
    --spice-rgb-button-disabled: 221, 221, 221;
    --spice-rgb-grid-lines: 0, 0, 0;
    --spice-rgb-notification: 221, 221, 221;
    --spice-rgb-shadow: 170, 170, 170;
    --spice-rgb-notification-error: 226, 33, 52;
    --spice-rgb-player: 248, 248, 248;
    --spice-rgb-button-active: 93, 93, 93;
    --spice-rgb-button: 0, 191, 118;
    --spice-rgb-tab-active: 0, 191, 118;
    --spice-rgb-text: 0, 0, 0;
  }
}
